* {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock_area {
    width: calc(100vmin - 40px);
    aspect-ratio: 1;
}

#clock_area .hand {
    transition: transform .2s;
}